.home {
    .home__top1 {
        display: flex;

        .home__search__container {
            width: 50%;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.075);
            }

            .home__search__wrapper {
                position: absolute;
                top: 20%;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                z-index: 1;

                >h3 {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 700;
                    font-size: 33px;
                    text-align: center;
                    color: #FFFFFF;
                    margin-bottom: 31px;
                }

                .home__search__form__wrapper {
                    width: 75%;

                    >span {
                        font-weight: 900;
                        font-size: 12px;
                        margin-top: 6px;
                        line-height: 20px;
                        color: #FFFFFF;
                        display: block;

                        span {
                            text-decoration: underline;
                        }
                    }
                }

                form {
                    position: relative;

                    img {
                        position: absolute;
                        left: 11px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        width: 17px;
                    }

                    input {
                        padding: 14px 6px;
                        padding-left: 45px;
                        border-radius: 3px;
                        outline: none;
                        border: none;
                        max-width: 632px;
                        width: 100%;
                        font-size: 15px;

                        &::placeholder {
                            font-weight: 400;
                            color: #9A9A9A;
                        }
                    }
                }

            }
        }

        .home__looking__container {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .home__looking__heading {
                h3 {
                    text-align: center;
                    font-size: 26px;
                    font-family: 'Montserrat';
                    font-weight: 600;
                    color: #353535;
                    padding-top: 5px;
                }

                span {
                    background: #E8625D;
                    padding: 4px 16px;
                    font-size: 13px;
                    color: #FCFCFC;
                    font-family: 'Mulish', sans-serif;
                    font-weight: 700;
                    margin-left: auto;
                    display: block;
                    width: fit-content;
                    display: flex;
                    align-items: center;

                    img {
                        width: 15px;
                        margin-left: 15px;
                    }
                }
            }

            .home__looking__products {
                display: flex;
                flex-wrap: wrap;
                width: 90%;
                margin: auto;

                .home__looking__products__col {
                    width: 25%;
                    flex: 0 0 auto;
                    padding: 14px;

                    img {
                        margin: auto;
                        display: block;
                        max-width: 54.15px;
                        margin-bottom: 13px;
                        width: 39px;
                    }

                    span {
                        display: block;
                        text-align: center;
                        font-size: 13.5px;
                    }
                }
            }
            .home__looking__swiper{
                padding: 0 11px;
            }
        }
    }
}